@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Lily+Script+One&display=swap" rel="stylesheet");

 
.navbar {
    height: 20px
}
body{
    background-color:rgb(235, 114, 23)
}

.container{
background: rgb(245, 238, 197);
margin: auto; 
} 

/* this controles the size of the map */
.container-box1 {
width: 1400px;
height: 400px;
}

.meal-wrapper{
  
    margin:auto;
    text-align: center;
    
}
.meal-search-box{
    display: flex;
    
}


.meal-item{
    border-radius: 1rem;
    box-shadow: 0 4px 10px -15px; 
}

.meal-img{
    max-width: 100%;
    max-height: auto;
    display: block;
}
.meal-name h3{
    font-size: 1.5rem;}



#search-input{
    padding-bottom: 10px;
    
}

#search-btn{
    padding-bottom: 10px;
    
}

h1{
    font-size: 5rem;
}


h2.recipeName{
font-weight: bold;
font-size: 100%;
padding:10px;



}
h4{
    justify-content: center;
}
.title{
    color: black;
    font: size 5rem;
    margin-top: 0;
    padding: auto;
}


p{
    font-size: 1.5rem;
    color: black;
    text-align: start;
    padding-left: 10px;
}

.recipeInstructionsDiv{
    padding-bottom: ;
}

.recipeIngredientsDiv h2{
    font-size: 1.75rem;
    font-weight: bolder;
}

.recipeIngredientsDiv p{
    font-size: 1.5rem;
    padding-left: 60px;
}

.recipeInstructionsDiv h2{
    font-size: 1.75rem;
    font-weight: bolder;
    padding-top: 20px;
}

.recipeInstructionsDiv p{
    font-size: 1.5rem;
    padding-left: 60px;
    padding-right: 20px;
    
}

.recipeDescription h2{
    font-size: 2rem;
    font-weight: 200;
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: bolder;
}

.recipeDescription p{
    padding
}

.ingredients{
    font: 1.5rem;

}

.pastRecipe h2{
    text-align: left;
    font-size: 1.75rem;
    font-weight: bolder;
}

.pastRecipe p{
    font-size: 1.5rem;
    padding-left: 60px;
}

.nutrition-box{
    color: black;
    font-size: 1rem;
}

.food-category{
    color: black;
    font-size: 1rem;
    
}

.button{
    margin: 20px 20px;
    font-size: 1.5rem;
    

}


.footer{
    background-color:black;
    color: rgb(252, 186, 46);
   
}

.footer p{
    color: rgb(252, 186, 46);
    font: 150;
    text-align: center;
}

@media screen and (min-width: 600px){
    .meal-search-box{
        width: 540px;
        border: 2px;
        margin-left:auto;
        margin-right:auto;
    }    
}

#moreInfo {
    display: none;
    padding-inline-start: 30px;
}